.item {
  display: flex;
  align-items: center;
  padding: 1rem;
  margin: 15px 0;
  font-size: 1.5rem;
  border-radius: 5px;
  border: 2px solid #555;
  color: #112d49;
  background-color: #fbfef9;
}

.itemText {
  flex-grow: 1;
  text-align: left;
}

.itemIcon {
  font-size: 1.8rem;
  margin-right: 0.5rem;
  color: teal;
}

.completed {
  filter: grayscale(1);
  opacity: 0.5;
}

.checkIcon,
.deleteIcon {
  font-size: 2.5rem;
  cursor: pointer;
  color: lightgray;
  padding: 0 7px;
  transition: transform 0.3s;
}

.checkIcon:hover,
.deleteIcon:hover {
  cursor: pointer;
  transform: scale(1.15);
}

.checkIcon:hover {
  color: green;
}

.deleteIcon:hover {
  color: red;
}
