.todoFormContainer {
  margin-bottom: 30px;
}

.todoFormContainer form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.todoFormContainer input {
  width: 50%;
  height: 3rem;
  font-size: 1.4rem;
  padding: 1rem;
  border: none;
  border-radius: 5px;
}
