.todoFormContainer {
  width: 100%;
}

.todoFormContainer form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.todoFormContainer form.error input {
  border-color: #de6543;
}

.todoFormContainer input {
  width: 50%;
  height: 3rem;
  font-size: 1.4rem;
  padding: 1rem;
  border: 2px solid #5b8198;
  border-radius: 5px;
}
